.elementClass {
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
}

body{
  background-color:#d2d2d2;
}
#canvas{
  background-color:#000;
  display:block;
  margin:auto;
}
#logo{
  display:none;
}
